* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 15px 62px;
  background: rgba(0, 0, 0, 0.6);
}
.logo {
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 2px 10px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.nav-links a.active,
.nav-links a:hover {
  color: #f09a77;
}
.nav-buttons {
  display: flex;
  gap: 30px;
}
.btn {
  text-decoration: none;
  background: #f09a77;
  color: #ffff;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 2px;
}
.hero{
    position: relative;
    height: 100vh;
   
    background: url(https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?auto=format&fit=crop&w=1920&q=80);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}
.overlay{
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
     background: rgba(0, 0, 0, 0.6)
}
.hero-content{
    position: relative;
    max-width: 900px;
    width: 90%;
}
.hero h1{
    font-size: 70px;
    font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 50px;
      color: #fff;
}
.booking-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.booking-form input{
     padding: 12px 20px;
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      width: 160px;
      font-size: 14px; 
}
.book-now {
      background: #f09a77;
      border: none;
      color: #fff;
      padding: 12px 28px;
      cursor: pointer;
}
.features{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 60px;
    padding: 100px 60px;
    text-align: center;
}
.feature-icon {
      font-size: 55px;
      color: #c19b76;
      margin-bottom: 20px;
}
.features h3{
    font-size: 32px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #666;
}
.features p{
      font-size: 15px;
      line-height: 1.8;
      color: #666;
    }
    .gallery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.excellence-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 120px;
  gap: 60px;
}
.excellence-text h2{
font-size: 32px;
font-weight: 600;
color: rgb(57, 57, 57);
margin-bottom: 20px;
line-height: 1.3;
}
.excellence-text p{
  font-size: 15px;
  color: rgb(109, 109, 109);
  line-height: 1.8;
}
.excellence-images {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
.testemonial{
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%; 
  background-color: #363340;
    padding: 50px 20px; 
}
.testemonial-card{
  background-color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 350px;
    min-height: 450px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stars {
    color: #ffc107; 
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.testemonial-card h3 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.testemonial-card p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.reviewer-info {
    text-align: center;
    /* margin-top: auto; */
}
.reviewer-info img{
  border-radius: 50%;
  margin-bottom: 10px;
}
.reviewer-info p{
  font-size: 16px;
  font-weight: 600;
}
.bookroom{
  padding: 107px 20px;
}
.headerbook{
  text-align: center;
  max-width: 1000px;
  margin: 0 auto 50px auto;
}
.headerbook h2{
  font-size: 36px;
  font-weight: 500;
  color: #333;
  margin-bottom: 25px;
}
.headerbook p{
  font-size: 15px;
  line-height: 30px;
  color: rgb(109, 109, 109);
}
.bookcards {
    display: flex;
    justify-content: center;
    gap: 30px; 
    max-width: 1200px;
    margin: 0 auto;
}
.roomcard {
    position: relative;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden; 
}


.imagecontainer {
    position: relative;
    width: 100%;
    display: block; 
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.imagecontainer span {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: white;
    color: #333;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: bold;
}
.roomcard button {
    width: 100%;
    padding: 20px 0;
    background-color: #f7a28b;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}
.imagecard{
  display: flex;
  gap: 2px;
}
.icard{
  position: relative;
  width: 33.33%;
  overflow: hidden;
}
.icard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upperpart{
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
}
.upperpart span{
  display: inline-block;
  background-color: #ff9966;
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.upperpart h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3em;
  max-width: 250px;
  color: #363340;
}
.footer {
  text-align: center;
  padding: 60px 20px 20px;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.footer-logo h2 {
  display: inline-block;
  border: 2px solid #333;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 28px;
}

.footer-logo p {
  margin-top: 5px;
  color: #555;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 40px;
}

.footer-box {
  text-align: left;
}

.footer-box h4 {
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-box p {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.newsletter input {
  border: none;
  border-bottom: 1px solid #333;
  padding: 8px 0;
  width: 200px;
  outline: none;
  background: transparent;
}

.newsletter button {
  display: block;
  background-color: #ff9966;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 500;
}

.newsletter button:hover {
  background-color: #2e2d2d;
}

.footer-badges img {
  width: 80px;
  height: auto;
  margin: 10px;
}

.footer-bottom {
  margin-top: 40px;
  font-size: 13px;
  color: #666;
}

.footer-bottom a {
  color: #0099cc;
  text-decoration: none;
}
